

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}

/* shared style */


nav,.banner,main,footer{
    max-width: 1140px;
    margin: 0 auto;
}

main > section{
    margin-top: 120px;
}

.display-flex{
    display: flex;
}

.bg-color{
    background: rgba(255, 144, 14, 0.1);
}

nav{
   
    justify-content: space-between;
    align-items: center;

}
nav h1{
   
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;

}


.items{
    list-style: none;
    margin-right: 30px;
}
.items a{
 text-decoration: none;
 color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
}



/* banner style */

.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-content h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
}
.banner-content p{

    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.banner-content button{
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;

}
.banner img{
    width: 100%;
}

/* teams style */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.team-text-container{
    margin-left: 50px;
    max-width: 550px;
    
}
.team-text-container h1{

    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    
}

#first-id {
    color: #727272;
    font-weight: 400;
}
#second-id {
    color: #131313;
}
#third-id{
    color: #FF900E;
}
.team-text-container p{

    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.team-text-container button{

    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
}

/* feature fact styles */

.features-facr-title{
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;  
}

.fact-description{
    width: 542px;
    height: 52px;
    color: rgb(114, 114, 114);
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-card{
    border: 1px solid;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}
.fact-number{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.fact-name{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

/* footer sections style */

/* .sponsors-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.spons-info{
    width: 550px;
    margin: 50px auto;
    text-align: center;
}

.spons-info h1{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.spons-info p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.sponsor-logo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.sponsor-logo > img{

    width: 166.76px;
    height: 50px;
    border: 2px  green dashed;
    padding: 10px;
    
}
/* responsive media query */

@media screen and (max-width:576px) {

    
    nav, .teams,.nav-link{
        flex-direction: column;
        
    }
    
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .team-text-container{
        margin: 0 ;
       
        
    }
    .fact-container{
        
        grid-template-columns: repeat(1,1fr);
        
    }
}


